body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: rgb(26, 114, 48);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/logo.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    color: rgb(255, 1, 1);
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
}

.content-section {
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.content-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.content-section ul {
    list-style: none;
    padding: 0;
}

.content-section li {
    margin-bottom: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9c5959;
}

#contact-form button {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom:0;
    width: 100%;
}